body{align-content: 50px, 100px, 50px, 100px;
}
.green-background {
    background-color: green;
  }
.yellow-background {
    background-color:yellow;
  }
.red-background {
    background-color:red;
  }